@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RonTech - My Jukebox</h1>
    <p>An Example .NET Core MVC Application, built around Entity Framework (Code First)</p>
</div>
